:root {
    --colo1: #0b1925;
    --colo2: #195d87;
    --colo3: #619bc5;
    --colo4: #b0cedb;
    --colo5: #ffff;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'Great_Vibes';
    src: url('./assets/font/Great_Vibes/GreatVibes-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'for_number';
    src: url('./assets/font/Share_Tech_Mono/ShareTechMono-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-attachment: fixed;
    min-height: 100vh;
    font-family: "Roboto";
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    padding: 50px 0px 20px 0px;
    flex-direction: column;
}


::-webkit-scrollbar{
    width: 0;
    
}
button {
    -webkit-app-region: no-drag;
}
.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    /* background-image: linear-gradient( rgb(255, 255, 255), rgb(206, 206, 206)); */
    display: flex;
    background-color: #d8d8d8;
    justify-content: flex-start;
    align-items: center;
    -webkit-app-region: drag;
    z-index: 400;
    padding: 0 1rem;
    gap: 1rem;
}


.textContain {
    display: flex;
    color: #163b72;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    gap: .5rem
}

.titulo-content{
    background-color: var(--colo1);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-content h1{
    font-family: 'Great_Vibes';
    font-weight: lighter;
    color: #fff;
    font-size: calc(1em + 1vw);
    margin: 0px 15px 0px 15px
}
.banner-titulo{
    margin: 0px 30px 0px 30px;
    
}
.banner-titulo h2{
    color: rgb(88, 88, 88);
    font-size: calc(1em + 1vw);
}
.banner-titulo h2.active{
    
    color: rgb(22, 187, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255) , 0 0 10px #1af81a;
}
.banner-titulo h2.desaptive{
    color: rgb(187, 0, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255) , 0 0 10px #f81a1a;
}

.banner-btn-save{
    height: 100% ;
    position: absolute;
    display: flex;
    align-items:center;
    right: 150px;
}
.banner-btn-save button{
    cursor: pointer;
    width: 45px;
    height: 100%;
    background-color: #d8d8d8;
    color: #ffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in;
}

.banner-btn-save button:hover{
    background-color:rgb(221, 221, 221);
    box-shadow: inset 0 0 18px rgb(231, 231, 231);
}
.banner-btn-save button img{
    height: 100%;
    width: 40px;
    transition: .5s ease-in;
}
.banner-btn-save button img:hover{
    filter:invert();
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px #000;
    padding: 2.5rem 0;
}


.contentImg-303{
    position: absolute;
    top: 50px;
}



.local-container {
    width: 100%;
    position: relative;
    padding: 0.8rem 3rem 0.8rem 0.8rem;
    background-color: rgb(38 38 38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    overflow: hidden;
    border-top: 1px solid #bfbfbf;
}


.local-container.active {
    background-color: #ffffff;
    box-shadow: none;
    border-top: solid 1 rgb(142, 142, 143);
}


.inactive{
    background-color: rgb(189, 116, 116);
}

 
.inactive::after {
    content: 'caido';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #720000;
    background-color: rgba(0,0,0,0.5);
    font-size: 4rem;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nombre-local {
    position: relative;
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}


.nombre-local h2 {
    text-align: center;
    font-weight: lighter;
    color: #008a2a;
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: -1px 0px 0px #9aff00;
}


.img-local {
    width: 50px;
    height: 40px;
}


hr{
    display: none;
}

.local-container label {
    margin: 2px 5px 2px 5px;
    color: #fff;
}


.inputContain {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.elevation{
    z-index: 5;
}

input[ type=number ] {
    padding: 0.5rem;
    margin-top: 0.3rem;
    width: 70 px;
    height: 40px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: rgb(13 48 84);
    color: rgb(209 209 209);
    border: none;
    font-family: 'for_number';
    text-align: center;
}


.input-number.active{
    background-color: rgb(107, 107, 107);
    color: #ffffff
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:push-button 30px; 
     width: 30px;
     height: 30px;
     cursor: pointer;
}
.label-check{
    display: flex;
    justify-content: center;
    z-index: 50;
}

.label-check-input {
    cursor: pointer;
    width: 20px;
    height: 20px;
}



aside {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 30px;
    background-color: var(--colo1);
    z-index: 300;
}

/*activ*/
aside{
    width: 30px;
    transition: .5s ease-in;
    overFlow: hidden
}
hr{
    width: 100%;
}
aside.active{
    width: 370px;
    box-shadow: 2px 2px 10px #000
}
.btn-flex{
    position: relative;
    width: 30px;
    background-color:var(--colo2);
    height: 100vh;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 100;
}

.content{
    position: absolute;
    width: 340px;
    min-height: 100vh;
    top: 0;
    right:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.aside-titulo{
    margin-top: 80px;
    text-align: center;
    color: #fff;
}

.aside-label{
    margin-top: 30px;
    color: #fff;
}

.aside-label input[type=checkbox]{
    width: 50px;
}


.input-reset{
    margin-top: 30px;
    color: #fff;
    width: 100%;
}


.input-reset label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}



.input-reset button {
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
    height: 30px;
    width: 60px;
    margin: 5px;
    border: none;
}


.text-connection{
    color: #d8d8d8;
}


.icoWhatsapp {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icoWhatsapp img{
    width: 60px;
    filter: brightness(.5);
}

.icoWhatsapp img.active{
    filter: brightness(2);
    animation: 2.5s infinite neon step-start;
}


@keyframes neon{
    0%{
        filter: brightness(.5);
    }
    50%{
        filter: brightness(2);
    }
    100%{
        filter: brightness(.5);
    }
}

article {
    position: sticky;
    top: 50px;
    right: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    background-color: var(--colo4);
}
.titleResult{
    margin-top: 1rem;
    color: var(--colo2);
    font-family: "Great_Vibes";
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
}
article iframe{
    display: none;
}

.countAlert{
    width: 350px;
    min-height: 100px;
    margin: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.countText{
    display: flex;
    align-items: center;
    justify-content: center;
}
.countText h3{
    font-size: 1.5rem;
}
.count{
    color: rgb(146, 1, 1);
    font-family: 'for_number';
    margin-left: 0.5rem;
}


/***************img de amazonas**************/
.container-img{
    position: fixed;
    top: 0;    
    width: 100%;
    height: 0%;
    background-color: #0b1925b9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transition:1s linear;
    overflow:hidden
}
.container-img.active{
    height: 100%;
}
.imgSend{
    background-color: #d8d8d8;
}


.title {
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #be0000;
    color: rgb(255, 255, 255);
}


.table-alert{
    border-collapse: collapse;
}


.table-alert td, .table-alert td {
    min-width: 170px;
    text-align: center;
    padding: 0.2rem 0.4rem;
    font-family: system-ui;
}


.table-alert tr:nth-child(even) td {
	background: #dbdbdb;
    cursor:default
}

.table-alert tr:nth-child(odd) td {
	background: #FEFEFE;
}

.div-result{
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.div-result h3{
    display:inline-block;
    margin: 5px 0px 5px 0px
}




.intro-page{
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--colo4);
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 3000;
}
.intro-page--img{
    margin-bottom: 1rem;
    filter: contrast(1.3);
}
.intro-page--title{
    color: var(--colo1);
    font-family: 'Great_Vibes';
}


.bg-red{
    animation: back 1s ease infinite;
    background: #b50909;
}


@keyframes back{
    from{
        background: #f5f5f5;
    }
    to{
        background: #b50909;
    }
}


