@font-face {
    font-family: "Ubuntu_Condensed";
    src: url("../Lobby/font/Ubuntu_Condensed/UFL.txt");
    src: url("../Lobby/font/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu_condensed"
}

body{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 150px 0px 100px 0px;
    
}
header{
    position: fixed;
    background-color: rgb(255, 123, 0);
    width: 100%;
    top: 0;
    height: 100px;
    box-shadow: 2px 2px 40px #000;
    display: flex;
    align-items: center;
    z-index: 100;
}

header div:first-child{
    background-color:rgb(0, 23, 66);
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin: 0px 10px 0px 0px ;
}
.img1{
    width: 80px;
    position: relative;
    -webkit-animation: 1.5s rotate linear infinite;
    animation: 1.5s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    cursor:pointer
}
header div h1{
    color:rgb(255, 255, 255);
}
div h2{
    text-align: center;
    margin: 20px 0px 20px 0px;
    text-decoration: underline;
    font-size: 2rem;
}
section{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

section a{
    width: 260px;
    height:300px;
    box-shadow: 2px 2px 10px rgb(160, 160, 160);
    background-color: rgb(238, 238, 238);
    margin: 20px 20px 20px 20px;
    cursor: pointer;
    transition: .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #000;
}
section a:hover{
    transform: scale(110%);
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}
section a div{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
section a div img{
    width: 100px;
    height: 100px;
    background-color:rgba(0, 0, 0, 0);
    
}
section a figure{
    width: 100%;
    height: 50%;
    background-color: rgb(236, 236, 236);
}

section a figure div{
    background-color: rgba(255, 255, 255, 0);
}
section a figure div div{
    margin: 30px 0px 0px 0px
}
section a figure div div h3{
    color: rgb(0, 20, 87);
    margin-top: 30px;
    font-size: 1.5rem;
}
section a figure div div p{
    margin: 0px 0px 0px 10px;
}

@media (max-width: 480px) {
    header div:first-child{
        width: 50px;
    }
    .img1{
        width: 50px;
    }
}