include includes/header
link(rel="stylesheet", href="/managerDateClient/assets/css/style.css")

main#Root.Root
    

script(src="libreries/axios/axios.min.js" defer) 
script(src="managerDateClient/index.js" type="module" defer) 