
include includes/header
link(rel="stylesheet", href="/profileLocal/assets/style.css")


main.main#root 
            

script(src="libreries/axios/axios.min.js" defer) 
script(src="libreries/socketIo/socket.io.min.js" defer) 
script(src="/profileLocal/assets/index.js" type="module" defer) 
