html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Stop
        link(rel="stylesheet", href="/stopAccess/style.css")
            
    body
        div#particles-js
        main 
            section 
                h1 #{text}
            div  
                a(href="/")  #{link}
            article 
                img(src="/img/LOGO-SLIDER.png", alt="", )

script(src="/libreries/particles/particles.min.js")
script(src="/singin/configPartic.js") 