include includes/header
link(rel="stylesheet", href="noveltiesUser/style.css")

main.main-contain#main-content-novelties


script(src="libreries/axios/axios.min.js" defer) 
script(src="libreries/socketIo/socket.io.min.js" defer) 
script(src="noveltiesUser/index.js" type="module" defer) 

