include includes/header
link(rel="stylesheet", href="sendNoveltie/style.css")

main.mainContainer  

   

script(src="/libreries/fuse/fuse.min.js") 
script(src="/libreries/axios/axios.min.js") 
script(src="/sendNoveltie/index.js" type="module" defer)