@font-face {
    font-family: 'Electrolize';
    src: url('../font/Electrolize/Electrolize-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
.msm {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 90px;
    background-color: rgb(147 148 150 / 83%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    text-align: center;
}
.msm > h2{
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    font-weight: lighter;
}
.boxContain{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 9.5rem 0;
}
.mainContain{
    width: 400px;
    background-color: rgb(236, 236, 236);
    box-shadow: 2px 2px 5px #000;
}


.mainContain-form {
    width: 100%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.localContain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


.localContain-TitleContain {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #a0a0a0;
}


.TitleContain-p {
    font-size: 1.7rem;
}


.TitleContain-img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}


.localContain-labelContain {
    width: 100%;
    display: table-row-group;
    font-size: 1rem;
    position: relative;
}


.labelContain-checkbox{
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin: 1rem;
    position: absolute;
    right: -27px;
    top: 19px;
}


.labelContain-input {
    border: none;
    background-color: #ffffff;
    border-bottom: solid 1px #c3c3c3;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.2rem 0 0.2rem;
    width: 100%;
}


.labelContain-input:required:focus{
    border-bottom: solid 1px #0044ff;

}


.labelContain-input:disabled{
    background-color: currentColor;
    border-bottom: 1px solid transparent
}


.input-reduxe{
    width: 92%;
}


.input-reduxe40 {
    width: 45%;
}


.labelContain-input:focus,.labelContain-input:focus-visible{
    outline: none;
}


.mainContain-form-btn{
    margin: 30px auto 30px auto;
    width: 160px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(48, 168, 0);
    color: rgb(48, 168, 0);
    cursor: pointer;
    font-family: monospace;
    font-size: 1.5rem;
    order: 1000
}


.mainContain-form-btn:hover{
    color: rgb(255, 255, 255);
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
    border: 1px solid rgba(48, 168, 0, 0);
    transition: all .2s linear;
}


.mainContain-form-btn:disabled{
    color: rgb(255, 255, 255);
    background: #37ff1470;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.boxHour-contain{
    width: 40%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px #000;
    transition: .1s linear;
    position: sticky;
    top: 152px;
}
.boxHour-hour{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(229 229 229);
}

.hour-text{
    color: #173564;
    text-align: center;
    font-size: 3vw;
    font-family: 'Electrolize';
    margin: 0px 10px 0px 10px;
    text-overflow: clip;
    white-space: pre;
    margin-bottom: 10px;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.ico{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #757575;
    
}
.textLive{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.textLive.active{
    color: #1af81a;
    text-shadow:0 0 10px #1af81a;
    
}
.textLive.desactive{
    color: #8b0000;
}
.ico img{
    margin: 0px 0px 0px 10px;
    filter: brightness(.5);
}
.ico img.active{
    width: 70px;
    filter: brightness(2);
    animation: 2.5s infinite neon step-start;
}
@keyframes neon{
    0%{
        filter: brightness(.5);
    }
    50%{
        filter: brightness(2);
    }
    100%{
        filter: brightness(.5);
    }
}



@media (max-width: 600px) {
    .msm > h2{
        font-size: 4.5vw;
    }
    .text > h2{
        font-size:  5vw
    }
    .boxContain {
        flex-direction: column;
        padding: 5rem 0;
    }
    .boxHour-contain{
        position: relative;
        left: auto;
        top: auto;
        bottom: 0px;
        width:  100%;
        height: 300px;
        margin: 0px 0px 30px 0px;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        align-items:stretch;
        box-shadow: none
    }
    .hour{
        width: 100%;
    }
    .hour h2{
        font-size: 6vw;
    }
   
    .mainContain{
        width: 100%;
        margin: 0;
        background-color: #fff;
    }
    .labelContain-input{
        background-color: #e5e5e5;
        border-bottom: solid 1px #d74500;
    }
  
}