.putLocal {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    background-color: #08080885;
    transform: translateY(0px);
    animation: screemLow 2s linear;
    position: fixed;
    top: 0;
}
@keyframes screemLow {
    0%{
        transform: translateY(-2000px);
    }
    50%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0px);
    }
}
.putLocal-divInput, .putLocal-divManager, .putLocal-divManager {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.putLocal-divInput{

}
.putLocal-divManager{
    
}
.putLocal-divManager{

}
.divImgAndBtn{

}
.putLocal-divImg{

}

.putLocal-title {
    color: #0639c4;
}
.putLocal-label {
    font-size: 1.2rem;
    color: #fff
}
.putLocal-input {
    font-size: 1.2rem;
    padding: 0.4rem;
    width: 300px;
    border: none;
    background-color: #2424244d;
    border-bottom: 1px solid #007eff;
    color: #fff;
}