link(rel="stylesheet", href="/Loading/load.css")
div#img2.intro-page
    div.torqContain
        img(src="/img/engranaje1.png", alt="", srcset="").imgr#imgr1
        img(src="/img/engranaje2.png", alt="", srcset="").imgr.reverse#imgr2
    img(src="/img/LOGO-SLIDER.png", alt="", width="200px").logoAmazonas
    div.progress
        div.progress-barra
            div.progress-text
                p Cargando
script(type="text/javascript" src="/Loading/Load.js")